.bg-navbar{
    background-color: #eef3f9;
}
#contenedorInicio{
    text-align: center;
}
.btnInicio{
    height: 130px ; 
    width: 180px;
    margin-top: 20px;
    margin-right: 20px;
    box-shadow:  1px 1px 15px 1px #ccc;
    color: teal;
    font-weight: bold;
    /*border: 0.5px solid rgba(165,227,222,0.7);*/
    border: 1px solid #ccc;
    font-size: 20px;
    border-radius: 10px;
}
#btnIngresarOrden{
    margin-right: 25%;
    background-color: lightcoral;
}
#btnModificarOrden{
    background-color: lightsalmon;

}
#btnRegistrarVenta{
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 40%;
    background-color: lightskyblue;
}
#btnEstadisticas{
    margin-right: 25%;
    background-color: royalblue;
}
#btnAministrarMenu{
    background-color: lightgreen;
}
.btnInicio:hover{
    color: whitesmoke;
    /*background-color: lightblue;*/
    border: 1px solid rgba(165,227,222,0.7);
    transform: scale(1.05);
    cursor: pointer;
    opacity: 50%;
}