.bg-navbar{
    background-color: #eef3f9;
}
.list-group-item-action:hover{
    cursor: pointer;
    background-color: #4A97F3 !important;
    color:#fff !important;
}
.lista-categoria{
    overflow: hidden;
}

.input{
    width: 100%;
}

.bg-override{
    background: #d7d7d7;
}

body{
    font-size: 16px !important;
}

navbar-brand{
    padding: 0 !important;
}

.btn-primary{
    background: #4A97F3!important;
    color: #fff!important;
}

.btn-primary:hover{
    background: #007bff!important;
}

/*Para modalAgregarProductos*/
#idToolbar{
    background-color: white; 
    border-color: white;
}
.spinner{
    text-align: center;
}
.spinner button, .spinner label {
    margin-right: 15px;
    height: 30px;
    padding-top: 0px;
}
.divSearch{
    text-align: center;
    margin-bottom: 20px;
}
.ui-widget-overlay{
    background: #032b42;
    opacity: 0.6;
}

